*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}

#root {
  height: 100vh;
  background: url('./images/gradient-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}
